body {
  background-color: #aaaaaa;
  margin: 0px;
}

#top-bar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 50px;
  background-color: #cccccc;
}

#middle {
  background-color: #aaaaaa;

}

#middle-main button {
  display: block;
}

#middle-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#middle-tablinks {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

#middle-tablinks button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

#middle-tablinks button:hover {
  background-color: #ddd;
}

#middle-tablinks button.active {
  background-color: #ccc;
}

.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent:not(.active-tab) {
  display: none !important;
}
